.landing-container {
  background-image: url("../../../assets/lofi-bg.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
}
