.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: clamp(14rem, 25vw, 16rem);
    height: clamp(14rem, 25vw, 16rem);
    border-radius: 50%;
    margin: 2rem 0;
  }
  h1 {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  h4 {
    padding: 0.5rem;
    font-size: 1rem;
    color: #5d5166;
  }
  h1,
  h2,
  h3,
  h4 {
    color: rgb(55, 48, 59);
  }
  .rotate-animation {
    animation: rotation 6s infinite linear;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
